option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    AWS_ACCESS_KEY_ID=ASIAXYKJXRSYRJTGNRBU
    AWS_SECRET_ACCESS_KEY=wED6ebZyW/dHqngqqDuMBPPOdohVMy3q+M2rGLg7
    AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjELD//////////wEaCXVzLXdlc3QtMiJIMEYCIQDAR9aLUHTF7l3DDuaeGo5Vf1+o2uQ7JplX5Tp9aAimBQIhALBxbEJExySPXDQFb5YWcmjnKxwEQmwY0MasL0f4V+oXKrQCCHkQABoMNTMzMjY3NDUxMDU3IgziOupj3mw3v8bhKKcqkQKVqBEPIAOQm+bGTFkPfDOnZ/Ey608f96IZQIvLAJ6PdxIW39u7ditiWQlUzX+/SocdHCuwOeztB/KzGAVpkayGwk50tpm3F/0tEW4jOvLVsRPPk5jlzx+zuv9TOgaiOfEQsSGlX1XO0GhZrOfZzrmtdqSQ1Jk/FZNdJl+UGg+ZoDLvMuzkxuTU4wfmCTT4CaDnqH265f/zIfl6u3Uj5IA6KwJjJ5Jv+Ud8NmhchcR9UPura64cTJYRrNS7dd5UVvt0ttvsjiuj0vO5PtGVDrwheNhP27SvLP77ynzPQG9FCa9iRbUQb02hfeMccvZPT+KA5Xd1jXlMkr1h7DMuIU1U0QIoXOFOkwm4+ANiy5qyVpQwlpbRyQY6nAGJuJM6tO1sWj6tdg8f47MJF/M/UWC1qiSswz3UbI/dK5Miteiscs7fs2WmEUa7msCQ4AkpmpzqEsA8lo/nAF8LLuIM+p9quR6DbBsbhXVEzYS0/lHvjfbE1+j2O5LzFtYwJCLqvy1opcTYxVa4sj5QvuzFl0j4RS4slb3HrNp9cAij58WN8auS47ye04gPAASwAqTPLNoCxryDwqw=
    AWS_REGION=us-east-1

    SECRET_KEY= k0rsSbwLHQC4pMO4hGSs


    JWT_SECRET_KEY=ghFE9pV6NKVMi8RTWTIcqtAIISRAAGgw1MzMyNjc0NTEwNTciDAkZz5V3EFZXgZP1IyqRAjyBC7ZQE9VCU6uVxx7rFuttMfef2Q7qDIgcKp5BuaivwBpBlMDo2qCLbdDJV
    CORS_ORIGINS=http://localhost:3000

