option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    AWS_REGION: us-east-1
    SECRET_KEY: k0rsSbwLHQC4pMO4hGSs
    JWT_SECRET_KEY: ghFE9pV6NKVMi8RTWTIcqtAIISRAAGgw1MzMyNjc0NTEwNTciDAkZz5V3EFZXgZP1IyqRAjyBC7ZQE9VCU6uVxx7rFuttMfef2Q7qDIgcKp5BuaivwBpBlMDo2qCLbdDJV
    CORS_ORIGINS: http://localhost:3000
